body{
	margin: 0px;
  background-color: rgba(245, 242, 78, 0.3)
}

.tooltip {
  position: absolute;
  padding: 7px;
  font-size: 1.6em;
  pointer-events: none;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -moz-box-shadow:    3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow:         3px 3px 10px 0px rgba(0, 0, 0, 0.25);
}

.tooltip p {
  margin: 0;
  padding: 0;
}

.constituency {
  stroke: black;
  stroke-width: 0.2px;
  cursor: pointer;
}

.constituency.highlighted {
  stroke-width: 0.8px;
}

.constituency:hover {
  stroke-width: 1px; 
}

.column {
  float: left;
}

.column h4 {
  color: #111;
  margin: 24px 0 -12px 20px;
}

.legendTitle text {
  font-weight: bold;
}

.tick text {
  font-size: 0.9em;
  fill: black;
  font-family: sans-serif;
}

text.infoText {
  stroke-width: 0.2;
  stroke: black;
  stroke-linejoin: round;
  opacity: 0.7;
}

.tick {
  cursor: pointer;
}

.tick rect:hover {
  /* fill: yellow; */
  stroke: black;
}

#menus select {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}