
    .constituency {
      /* fill: lightgreen; */
      stroke: black;
      stroke-width: 0.2px;
    }

    .constituency.highlighted {
      stroke-width: 1px;
    }

    .constituency:hover {
      fill: yellow;
    }

    .column {
      float: left;
    }

    .column h4 {
      color: #111;
      margin: 24px 0 -12px 20px;
    }

    /* .legend {
      font-size: 12px;
    } */

    .tick text {
      font-size: 0.75em;
      fill: black;
      font-family: sans-serif;
    }

    .tick {
      cursor: pointer;
    }