body{
	margin: 0px;
  /* overflow: hidden; */
  /* background-color: ; */
}

.constituency {
  /* fill: lightgreen; */
  stroke: black;
  stroke-width: 0.2px;
  cursor: pointer;
}

.constituency.highlighted {
  stroke-width: 0.8px;
}

.constituency:hover {
  /* fill: yellow; */
  stroke-width: 1px; 
}

.column {
  float: left;
}

.column h4 {
  color: #111;
  margin: 24px 0 -12px 20px;
}

.legendTitle text {
  font-weight: bold;
}

.tick text {
  font-size: 0.9em;
  fill: black;
  font-family: sans-serif;
}

text.infoText {
  stroke-width: 0.2;
  stroke: black;
  stroke-linejoin: round;
  opacity: 0.7;
}

.tick {
  cursor: pointer;
  /* border-style: solid;
  border-color: black; */
}

.tick rect:hover {
  /* fill: yellow; */
  stroke: black;
}