---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Front-end and Vue Developer" />
    <meta name="keywords" content="resume,cv,Marko Marković" />
    <meta name="author" content="Marko Marković" />
    <!-- <meta name="robots" content="noindex"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <link rel="preload" href="./fonts/FiraGO-Regular.latin.woff2" as="font" crossorigin="anonymous"> -->
    <link href="./build.css" rel="stylesheet" />
    <title>Marko Marković — Resume</title>
  </head>

  <body>
    <main class="font-firago hyphens-manual">
      <!-- Page -->
      <div
        class="page print:max-w-letter md:max-w-letter md:h-letter bg-white mx-auto max-w-2xl p-6 xsm:p-8 sm:p-9 md:p-16"
      >
        <!-- Name -->
        <header class="mb-8 flex items-center md:mb-11">
          <div
            class="initials-container text-white bg-gray-700 print:bg-black mr-5 px-3 text-base font-medium leading-none"
            style="padding-bottom: 0.6875rem; padding-top: 0.6875rem; /*11px*/"
          >
            <div
              class="initial text-center"
              style="padding-bottom: 0.1875rem; /*3px*/"
            >
              M
            </div>
            <div class="initial text-center">M</div>
          </div>
          <h1 class="text-gray-750 pb-px text-2xl font-semibold">
            Marko Marković
          </h1>
        </header>
        <!-- end Name -->

        <!-- Column -->
        <div
          class="md:col-count-2 print:col-count-2 col-gap-md md:h-letter-col print:h-letter-col col-fill-auto"
        >
          <section class="mt-8 first:mt-0">
            <!-- To keep in the same column -->
            <div class="break-inside-avoid">
              <h2
                class="text-sm2 text-gray-550 mb-4 font-bold tracking-widest print:font-normal"
              >
                ABOUT ME
              </h2>

              <section class="mb-4.5 break-inside-avoid">
                <header>
                  <h3
                    class="text-gray-700 leading-snugish text-lg font-semibold"
                  >
                    User Interface Designer
                  </h3>
                  <p class="text-md text-gray-650 leading-normal">Since 2010</p>
                </header>
                <p class="mt-2.1 text-md text-gray-700 leading-normal">
                  Minimal and formal résumé website template for print,
                  mo&shy;bile, and desktop. The proportions are the same on the
                  screen and paper. Built with amazing <a
                    class="hover:bg-gray-150 rounded-lg transition duration-100 ease-in"
                    href="https://tailwindcss.com/">Tailwind CSS&nbsp;°</a
                  >.
                </p>
              </section>
            </div>

            <section class="mb-4.5 break-inside-avoid">
              <header>
                <h3 class="text-gray-700 leading-snugish text-lg font-semibold">
                  Front-End Developer
                </h3>
                <p class="text-md text-gray-650 leading-normal">Since 2013</p>
              </header>
              <p class="mt-2.1 text-md text-gray-700 leading-normal">
                “docs/index.html” is the main content file. By copying HTML: add
                pages, sec&shy;tions, subsection, and other parts.
              </p>
              <p class="mt-2.1 text-md text-gray-700 leading-normal">
                <span class="text-gray-600 print:text-black font-medium"
                  >Important:</span
                > Too much content on one page will break the page in the form of
                additional columns.
              </p>
            </section>
          </section>

          <section class="mt-8 first:mt-0">
            <!-- To keep in the same column -->
            <div class="break-inside-avoid">
              <h2
                class="text-sm2 text-gray-550 mb-4 font-bold tracking-widest print:font-normal"
              >
                EXPERIENCE
              </h2>

              <section class="mb-4.5 break-inside-avoid">
                <header>
                  <h3
                    class="text-gray-700 leading-snugish text-lg font-semibold"
                  >
                    WebPraktikos Inc.
                  </h3>
                  <p class="text-md text-gray-650 leading-normal">
                    Jun 2018 – Present | Web Developer
                  </p>
                </header>
                <p class="mt-2.1 text-md text-gray-700 leading-normal">
                  Built doner pork chop &bull; Served salmon, cream soft cheese,
                  and brisket &bull; Acted 55% pork chop &bull; Filled
                  burgdoggen & frankfurter strip steak with 90% burger patties
                  and broth
                </p>
              </section>
            </div>

            <section class="mb-4.5 break-inside-avoid">
              <header>
                <h3 class="text-gray-700 leading-snugish text-lg font-semibold">
                  Mammoth GmbH
                </h3>
                <p class="text-md text-gray-650 leading-normal">
                  Feb 2017 – Apr 2018 | Android Developer
                </p>
              </header>
              <ul class="">
                <li class="mt-2.1 text-md text-gray-700 leading-normal">
                  <span
                    class="sm:-ml-3.2 absolute -ml-3 -translate-y-px transform select-none"
                    >›</span
                  >
                  Cooked shrimps for 2 to 3 minutes per side, or until opaque; then,
                  transfered to a serving dish with limon
                </li>
                <li class="mt-2.1 text-md text-gray-700 leading-normal">
                  <span
                    class="sm:-ml-3.2 absolute -ml-3 -translate-y-px transform select-none"
                    >›</span
                  >
                  Roasted a pig, turning frequently, until meat reached 160°F in
                  the thickest part of the shoulder or thigh
                </li>
              </ul>
            </section>

            <section class="mb-4.5 break-inside-avoid">
              <header>
                <h3 class="text-gray-700 leading-snugish text-lg font-semibold">
                  Exquisite Systems d.o.o.
                </h3>
                <p class="text-md text-gray-650 leading-normal">
                  May 2015 – Dec 2016 | Software QA Specialist
                </p>
              </header>
              <ul class="">
                <li class="mt-2.1 text-md text-gray-700 leading-normal">
                  <span
                    class="sm:-ml-3.2 absolute -ml-3 -translate-y-px transform select-none"
                    >›</span
                  >
                  Made stockfish, which is unsalted fish, usully cod, dried by cold
                  air and wind on wooden racks on the foreshore
                </li>
                <li class="mt-2.1 text-md text-gray-700 leading-normal">
                  <span
                    class="sm:-ml-3.2 absolute -ml-3 -translate-y-px transform select-none"
                    >›</span
                  >
                  Preserved meat without salt by removing fat, cutting it into very
                  thin strips and drying it in the sun or by a fire.
                </li>
              </ul>
            </section>
          </section>

          <section class="mt-8 first:mt-0">
            <!-- To keep in the same column -->
            <div class="break-inside-avoid">
              <h2
                class="text-sm2 text-gray-550 mb-4 font-bold tracking-widest print:font-normal"
              >
                EDUCATION
              </h2>

              <section class="mb-4.5 break-inside-avoid">
                <header>
                  <h3
                    class="text-gray-700 leading-snugish text-lg font-semibold"
                  >
                    Graz University of Technology
                  </h3>
                  <p class="text-md text-gray-650 leading-normal">
                    2014 – 2015 | Master's Degree in Chemistry
                  </p>
                </header>
              </section>
            </div>

            <section class="mb-4.5 break-inside-avoid">
              <header>
                <h3 class="text-gray-700 leading-snugish text-lg font-semibold">
                  Vienna University of Technology
                </h3>
                <p class="text-md text-gray-650 leading-normal">
                  2010 – 2013 | Bachelor’s Degree in Biology
                </p>
              </header>
            </section>

            <section class="mb-4.5 break-inside-avoid">
              <header>
                <h3 class="text-gray-700 leading-snugish text-lg font-semibold">
                  Vienna University of Technology
                </h3>
                <p class="text-md text-gray-650 leading-normal">
                  2010 – 2013| Bachelor’s Degree in Chemistry
                </p>
              </header>
            </section>
          </section>

          <section class="mt-8 first:mt-0">
            <!-- To keep in the same column -->
            <div class="break-inside-avoid">
              <h2
                class="text-sm2 text-gray-550 mb-4 font-bold tracking-widest print:font-normal"
              >
                PROJECTS
              </h2>

              <section class="mb-4.5 break-inside-avoid">
                <header>
                  <h3
                    class="text-gray-700 leading-snugish text-lg font-semibold"
                  >
                    <a
                      href="https://github.com/WebPraktikos/universal-resume"
                      class="group"
                    >
                      Universal Resume
                      <span
                        class="text-gray-550 print:text-black group-hover:text-gray-700 inline-block font-normal transition duration-100 ease-in"
                        >↗</span
                      >
                    </a>
                  </h3>
                  <p class="text-md text-gray-650 leading-normal">
                    Since 2019 | HTML CSS
                  </p>
                </header>
                <p class="mt-2.1 text-md text-gray-700 leading-normal">
                  Good design is as little design as possible. Less, but better
                  — because it concentrates on the essential aspects, and the
                  pro&shy;ducts are not burdened with non-essentials.
                </p>
              </section>
            </div>

            <section class="mb-4.5 break-inside-avoid">
              <header>
                <h3 class="text-gray-700 leading-snugish text-lg font-semibold">
                  <a
                    href="https://github.com/WebPraktikos/tailwindcss-rich-docs"
                    class="group"
                  >
                    tailwindcss-rich-docs
                    <span
                      class="text-gray-550 print:text-black group-hover:text-gray-700 inline-block font-normal transition duration-100 ease-in"
                      >↗</span
                    >
                  </a>
                </h3>
                <p class="text-md text-gray-650 leading-normal">
                  2017 | JavaScript
                </p>
              </header>
              <p class="mt-2.1 text-md text-gray-700 leading-normal">
                Good design is long-lasting. It avoids being fashionable and
                therefore never appears antiquated.<br />
                Good design is honest. It does not make a product more innovative,
                powerful or valuable than it really is.
              </p>
            </section>

            <section class="mb-4.5 break-inside-avoid">
              <header>
                <h3 class="text-gray-700 leading-snugish text-lg font-semibold">
                  Third One
                </h3>
                <p class="text-md text-gray-650 leading-normal">
                  2013 – 2014 | Vue
                </p>
              </header>
              <p class="mt-2.1 text-md text-gray-700 leading-normal">
                Good design is innovative. Technological development is always
                offering new opportunities for innovative design.
              </p>
            </section>

            <section class="mb-4.5 break-inside-avoid">
              <header>
                <h3 class="text-gray-700 leading-snugish text-lg font-semibold">
                  Fantastic Project
                </h3>
                <p class="text-md text-gray-650 leading-normal">
                  2012 | JavaScript
                </p>
              </header>
              <p class="mt-2.1 text-md text-gray-700 leading-normal">
                Strip steak tail capicola alcatra ground round tenderloin ar.
                Venison tri-tip porchetta, brisket tenderloin pig beef.
              </p>
            </section>
          </section>

          <section class="mt-8 first:mt-0">
            <!-- To keep in the same column -->
            <div class="break-inside-avoid">
              <h2
                class="text-sm2 text-gray-550 mb-4 font-bold tracking-widest print:font-normal"
              >
                SKILLS
              </h2>

              <section class="mb-4.5 break-inside-avoid">
                <header>
                  <h3
                    class="text-gray-700 leading-snugish text-lg font-semibold"
                  >
                    JavaScript
                  </h3>
                  <p class="text-md text-gray-650 leading-normal">
                    Middle Level
                  </p>
                </header>
                <p class="mt-2.1 text-md text-gray-700 leading-normal">
                  Good parts: pure function, higher-order functions, factory
                  functions, composition. Bad parts: inheritance, this, new.
                </p>
                <div class="my-3.2 last:pb-1.5">
                  <ul
                    class="text-md -mr-1.6 -mb-1.6 flex flex-wrap leading-relaxed"
                  >
                    <li
                      class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-200 px-2.5 text-base"
                    >
                      ES6
                    </li>
                    <li
                      class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-200 px-2.5 text-base"
                    >
                      Vue
                    </li>
                    <li
                      class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-200 px-2.5 text-base"
                    >
                      Functional Programming
                    </li>
                    <li
                      class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-200 px-2.5 text-base"
                    >
                      Node
                    </li>
                  </ul>
                </div>
              </section>
            </div>

            <section class="mb-4.5 break-inside-avoid">
              <header>
                <h3 class="text-gray-700 leading-snugish text-lg font-semibold">
                  Other
                </h3>
              </header>
              <div class="my-3.2 last:pb-1.5">
                <ul
                  class="text-md -mr-1.6 -mb-1.6 flex flex-wrap leading-relaxed"
                >
                  <li
                    class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-200 px-2.5 text-base"
                  >
                    CSS
                  </li>
                  <li
                    class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-200 px-2.5 text-base"
                  >
                    Rust
                  </li>
                  <li
                    class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-200 px-2.5 text-base"
                  >
                    Git
                  </li>
                  <li
                    class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-200 px-2.5 text-base"
                  >
                    Go
                  </li>
                  <li
                    class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-200 px-2.5 text-base"
                  >
                    Linux Server
                  </li>
                  <li
                    class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-200 px-2.5 text-base"
                  >
                    UI Design
                  </li>
                  <li
                    class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-200 px-2.5 text-base"
                  >
                    Photoshop
                  </li>
                  <li
                    class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-200 px-2.5 text-base"
                  >
                    Illustrator
                  </li>
                  <li
                    class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-200 px-2.5 text-base"
                  >
                    Figma
                  </li>
                  <li
                    class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-200 px-2.5 text-base"
                  >
                    Typography
                  </li>
                </ul>
              </div>
            </section>
          </section>

          <section class="mt-8 first:mt-0">
            <!-- To keep in the same column -->
            <div class="break-inside-avoid">
              <h2
                class="text-sm2 text-gray-550 mb-4 font-bold tracking-widest print:font-normal"
              >
                CONTACT
              </h2>

              <section class="mb-4.5 break-inside-avoid">
                <ul class="list-inside pr-7">
                  <li class="text-gray-700 text-md mt-1.5 leading-normal">
                    <a href="//webpraktikos.com" class="group">
                      webpraktikos.com
                      <span
                        class="text-gray-550 print:text-black group-hover:text-gray-700 inline-block font-normal transition duration-100 ease-in"
                        >↗</span
                      >
                    </a>
                  </li>
                  <li class="text-gray-700 text-md mt-1.5 leading-normal">
                    <a href="//twitter.com/webpraktikos" class="group">
                      twitter.com/webpraktikos
                      <span
                        class="text-gray-550 print:text-black group-hover:text-gray-700 inline-block font-normal transition duration-100 ease-in"
                        >↗</span
                      >
                    </a>
                  </li>
                  <li class="text-gray-700 text-md mt-1.5 leading-normal">
                    1020 Wien, Austria
                  </li>
                  <li class="text-gray-700 text-md mt-1.5 leading-normal">
                    hi@webpraktikos.com
                  </li>
                  <li class="text-gray-700 text-md mt-1.5 leading-normal">
                    (+43) 0699 77 33 77 55
                  </li>
                </ul>
              </section>
            </div>
          </section>
        </div>
        <!-- end Column -->
      </div>
      <!-- end Page -->

      <!-- Page -->
      <div
        class="page print:max-w-letter md:max-w-letter md:h-letter print:bg-white bg-gray-100 mx-auto max-w-2xl p-6 print:mt-16 xsm:p-8 sm:p-9 md:p-16"
      >
        <!-- Column -->
        <div
          class="md:col-count-2 print:col-count-2 col-gap-md md:h-letter-col-full print:h-letter-col-full col-fill-auto"
        >
          <section class="mt-8 first:mt-0">
            <!-- To keep in the same column -->
            <div class="break-inside-avoid">
              <h2
                class="text-sm2 text-gray-550 mb-4 font-bold tracking-widest print:font-normal"
              >
                ABOUT ME
              </h2>

              <section class="mb-4.5 break-inside-avoid">
                <header>
                  <h3
                    class="text-gray-700 leading-snugish text-lg font-semibold"
                  >
                    User Interface Designer
                  </h3>
                  <p class="text-md text-gray-650 leading-normal">Since 2010</p>
                </header>
                <p class="mt-2.1 text-md text-gray-700 leading-normal">
                  Minimal and formal résumé website template for print,
                  mo&shy;bile, and desktop. The proportions are the same on the
                  screen and paper. Built with amazing <a
                    class="hover:bg-gray-150 rounded-lg transition duration-100 ease-in"
                    href="https://tailwindcss.com/">Tailwind CSS&nbsp;°</a
                  >.
                </p>
              </section>
            </div>

            <section class="mb-4.5 break-inside-avoid">
              <header>
                <h3 class="text-gray-700 leading-snugish text-lg font-semibold">
                  Front-End Developer
                </h3>
                <p class="text-md text-gray-650 leading-normal">Since 2013</p>
              </header>
              <p class="mt-2.1 text-md text-gray-700 leading-normal">
                “docs/index.html” is the main content file. By copying HTML: add
                pages, sec&shy;tions, subsection, and other parts.
              </p>
              <p class="mt-2.1 text-md text-gray-700 leading-normal">
                <span class="text-gray-600 print:text-black font-medium"
                  >Important:</span
                > Too much content on one page will break the page in the form of
                additional columns.
              </p>
              <p class="mt-2.1 text-md text-gray-700 leading-normal">
                If you want to change CSS in the classical way, add a class to
                the HTML element and write CSS inside “tailwind.css.”
              </p>
            </section>
          </section>

          <section class="mt-8 first:mt-0">
            <!-- To keep in the same column -->
            <div class="break-inside-avoid">
              <h2
                class="text-sm2 text-gray-550 mb-4 font-bold tracking-widest print:font-normal"
              >
                EXPERIENCE
              </h2>

              <section class="mb-4.5 break-inside-avoid">
                <header>
                  <h3
                    class="text-gray-700 leading-snugish text-lg font-semibold"
                  >
                    WebPraktikos Inc.
                  </h3>
                  <p class="text-md text-gray-650 leading-normal">
                    Jun 2018 – Present | Web Developer
                  </p>
                </header>
                <p class="mt-2.1 text-md text-gray-700 leading-normal">
                  Built doner pork chop &bull; Served salmon, cream soft cheese,
                  and brisket &bull; Acted 55% pork chop &bull; Filled
                  burgdoggen & frankfurter strip steak with 90% burger patties
                  and broth
                </p>
              </section>
            </div>

            <section class="mb-4.5 break-inside-avoid">
              <header>
                <h3 class="text-gray-700 leading-snugish text-lg font-semibold">
                  Mammoth GmbH
                </h3>
                <p class="text-md text-gray-650 leading-normal">
                  Feb 2017 – Apr 2018 | Android Developer
                </p>
              </header>
              <ul class="">
                <li class="mt-2.1 text-md text-gray-700 leading-normal">
                  <span
                    class="sm:-ml-3.2 absolute -ml-3 -translate-y-px transform select-none"
                    >›</span
                  >
                  Cooked shrimps for 2 to 3 minutes per side, or until opaque; then,
                  transfered to a serving dish with limon
                </li>
                <li class="mt-2.1 text-md text-gray-700 leading-normal">
                  <span
                    class="sm:-ml-3.2 absolute -ml-3 -translate-y-px transform select-none"
                    >›</span
                  >
                  Roasted a pig, turning frequently, until meat reached 160°F in
                  the thickest part of the shoulder or thigh
                </li>
              </ul>
            </section>

            <section class="mb-4.5 break-inside-avoid">
              <header>
                <h3 class="text-gray-700 leading-snugish text-lg font-semibold">
                  Exquisite Systems d.o.o.
                </h3>
                <p class="text-md text-gray-650 leading-normal">
                  May 2015 – Dec 2016 | Software QA Specialist
                </p>
              </header>
              <ul class="">
                <li class="mt-2.1 text-md text-gray-700 leading-normal">
                  <span
                    class="sm:-ml-3.2 absolute -ml-3 -translate-y-px transform select-none"
                    >›</span
                  >
                  Made stockfish, which is unsalted fish, usully cod, dried by cold
                  air and wind on wooden racks on the foreshore
                </li>
                <li class="mt-2.1 text-md text-gray-700 leading-normal">
                  <span
                    class="sm:-ml-3.2 absolute -ml-3 -translate-y-px transform select-none"
                    >›</span
                  >
                  Preserved meat without salt by removing fat, cutting it into very
                  thin strips and drying it in the sun or by a fire.
                </li>
                <li class="mt-2.1 text-md text-gray-700 leading-normal">
                  <span
                    class="sm:-ml-3.2 absolute -ml-3 -translate-y-px transform select-none"
                    >›</span
                  >
                  Testend shrimp, crab, lobster, scallops, clams, crawfish
                </li>
              </ul>
            </section>
          </section>

          <section class="mt-8 first:mt-0">
            <!-- To keep in the same column -->
            <div class="break-inside-avoid">
              <h2
                class="text-sm2 text-gray-550 mb-4 font-bold tracking-widest print:font-normal"
              >
                EDUCATION
              </h2>

              <section class="mb-4.5 break-inside-avoid">
                <header>
                  <h3
                    class="text-gray-700 leading-snugish text-lg font-semibold"
                  >
                    Graz University of Technology
                  </h3>
                  <p class="text-md text-gray-650 leading-normal">
                    2014 – 2015 | Master's Degree in Chemistry
                  </p>
                </header>
                <p class="mt-2.1 text-md text-gray-700 leading-normal">
                  Barbecued shrimp, broiled shrimp, shrimp kabobs
                </p>
              </section>
            </div>

            <section class="mb-4.5 break-inside-avoid">
              <header>
                <h3 class="text-gray-700 leading-snugish text-lg font-semibold">
                  Vienna University of Technology
                </h3>
                <p class="text-md text-gray-650 leading-normal">
                  2010 – 2013 | Bachelor’s Degree in Biology
                </p>
              </header>
            </section>

            <section class="mb-4.5 break-inside-avoid">
              <header>
                <h3 class="text-gray-700 leading-snugish text-lg font-semibold">
                  Vienna University of Technology
                </h3>
                <p class="text-md text-gray-650 leading-normal">
                  2010 – 2013| Bachelor’s Degree in Chemistry
                </p>
              </header>
            </section>
          </section>

          <section class="mt-8 first:mt-0">
            <!-- To keep in the same column -->
            <div class="break-inside-avoid">
              <h2
                class="text-sm2 text-gray-550 mb-4 font-bold tracking-widest print:font-normal"
              >
                PROJECTS
              </h2>

              <section class="mb-4.5 break-inside-avoid">
                <header>
                  <h3
                    class="text-gray-700 leading-snugish text-lg font-semibold"
                  >
                    <a
                      href="https://github.com/WebPraktikos/universal-resume"
                      class="group"
                    >
                      Universal Resume
                      <span
                        class="text-gray-550 print:text-black group-hover:text-gray-700 inline-block font-normal transition duration-100 ease-in"
                        >↗</span
                      >
                    </a>
                  </h3>
                  <p class="text-md text-gray-650 leading-normal">
                    Since 2019 | HTML CSS
                  </p>
                </header>
                <p class="mt-2.1 text-md text-gray-700 leading-normal">
                  Good design is as little design as possible. Less, but better
                  — because it concentrates on the essential aspects, and the
                  pro&shy;ducts are not burdened with non-essentials.
                </p>
              </section>
            </div>

            <section class="mb-4.5 break-inside-avoid">
              <header>
                <h3 class="text-gray-700 leading-snugish text-lg font-semibold">
                  <a
                    href="https://github.com/WebPraktikos/tailwindcss-rich-docs"
                    class="group"
                  >
                    tailwindcss-rich-docs
                    <span
                      class="text-gray-550 print:text-black group-hover:text-gray-700 inline-block font-normal transition duration-100 ease-in"
                      >↗</span
                    >
                  </a>
                </h3>
                <p class="text-md text-gray-650 leading-normal">
                  2017 | JavaScript
                </p>
              </header>
              <p class="mt-2.1 text-md text-gray-700 leading-normal">
                Good design is long-lasting. It avoids being fashionable and
                therefore never appears antiquated.
              </p>
              <p class="mt-2.1 text-md text-gray-700 leading-normal">
                Good design is honest. It does not make a product more
                innovative, powerful or valuable than it really is.
              </p>
            </section>

            <section class="mb-4.5 break-inside-avoid">
              <header>
                <h3 class="text-gray-700 leading-snugish text-lg font-semibold">
                  Third One
                </h3>
                <p class="text-md text-gray-650 leading-normal">
                  2013 – 2014 | Vue
                </p>
              </header>
              <p class="mt-2.1 text-md text-gray-700 leading-normal">
                Good design is innovative. Technological development is always
                offering new opportunities for innovative design.
              </p>
              <p class="mt-2.1 text-md text-gray-700 leading-normal">
                Good design emphasizes the usefulness of a product whilst
                disregarding anything that could possibly detract from it.
              </p>
            </section>

            <section class="mb-4.5 break-inside-avoid">
              <header>
                <h3 class="text-gray-700 leading-snugish text-lg font-semibold">
                  Fantastic Project
                </h3>
                <p class="text-md text-gray-650 leading-normal">
                  2012 | JavaScript
                </p>
              </header>
              <p class="mt-2.1 text-md text-gray-700 leading-normal">
                Products fulfilling a purpose are like tools. They are neither
                decorative objects nor works of art. Their design should
                therefore be both neutral and restrained, to leave room for the
                user’s self-expression.
              </p>
            </section>
          </section>

          <section class="mt-8 first:mt-0">
            <!-- To keep in the same column -->
            <div class="break-inside-avoid">
              <h2
                class="text-sm2 text-gray-550 mb-4 font-bold tracking-widest print:font-normal"
              >
                SKILLS
              </h2>

              <section class="mb-4.5 break-inside-avoid">
                <header>
                  <h3
                    class="text-gray-700 leading-snugish text-lg font-semibold"
                  >
                    JavaScript
                  </h3>
                  <p class="text-md text-gray-650 leading-normal">
                    Middle Level
                  </p>
                </header>
                <p class="mt-2.1 text-md text-gray-700 leading-normal">
                  Good parts: pure function, higher-order functions, factory
                  functions, composition. Bad parts: inheritance, this, new.
                </p>
                <div class="my-3.2 last:pb-1.5">
                  <ul
                    class="text-md -mr-1.6 -mb-1.6 flex flex-wrap leading-relaxed"
                  >
                    <li
                      class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-250 px-2.5 text-base leading-relaxed"
                    >
                      ES6
                    </li>
                    <li
                      class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-250 px-2.5 text-base leading-relaxed"
                    >
                      Vue
                    </li>
                    <li
                      class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-250 px-2.5 text-base leading-relaxed"
                    >
                      Functional Programming
                    </li>
                    <li
                      class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-250 px-2.5 text-base leading-relaxed"
                    >
                      Node
                    </li>
                  </ul>
                </div>
              </section>
            </div>

            <section class="mb-4.5 break-inside-avoid">
              <header>
                <h3 class="text-gray-700 leading-snugish text-lg font-semibold">
                  Other
                </h3>
              </header>
              <div class="my-3.2 last:pb-1.5">
                <ul
                  class="text-md -mr-1.6 -mb-1.6 flex flex-wrap leading-relaxed"
                >
                  <li
                    class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-250 px-2.5 text-base leading-relaxed"
                  >
                    CSS
                  </li>
                  <li
                    class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-250 px-2.5 text-base leading-relaxed"
                  >
                    Rust
                  </li>
                  <li
                    class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-250 px-2.5 text-base leading-relaxed"
                  >
                    Git
                  </li>
                  <li
                    class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-250 px-2.5 text-base leading-relaxed"
                  >
                    Go
                  </li>
                  <li
                    class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-250 px-2.5 text-base leading-relaxed"
                  >
                    Linux Server
                  </li>
                  <li
                    class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-250 px-2.5 text-base leading-relaxed"
                  >
                    UI Design
                  </li>
                  <li
                    class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-250 px-2.5 text-base leading-relaxed"
                  >
                    Photoshop
                  </li>
                  <li
                    class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-250 px-2.5 text-base leading-relaxed"
                  >
                    Illustrator
                  </li>
                  <li
                    class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-250 px-2.5 text-base leading-relaxed"
                  >
                    Figma
                  </li>
                  <li
                    class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-250 px-2.5 text-base leading-relaxed"
                  >
                    Typography
                  </li>
                </ul>
              </div>
            </section>
          </section>

          <section class="mt-8 first:mt-0">
            <!-- To keep in the same column -->
            <div class="break-inside-avoid">
              <h2
                class="text-sm2 text-gray-550 mb-4 font-bold tracking-widest print:font-normal"
              >
                CONTACT
              </h2>

              <section class="mb-4.5 break-inside-avoid">
                <ul class="list-inside pr-7">
                  <li class="text-gray-700 text-md mt-1.5 leading-normal">
                    <a href="//webpraktikos.com" class="group">
                      webpraktikos.com
                      <span
                        class="text-gray-550 print:text-black group-hover:text-gray-700 inline-block font-normal transition duration-100 ease-in"
                        >↗</span
                      >
                    </a>
                  </li>
                  <li class="text-gray-700 text-md mt-1.5 leading-normal">
                    <a href="//twitter.com/webpraktikos" class="group">
                      twitter.com/webpraktikos
                      <span
                        class="text-gray-550 print:text-black group-hover:text-gray-700 inline-block font-normal transition duration-100 ease-in"
                        >↗</span
                      >
                    </a>
                  </li>
                  <li class="text-gray-700 text-md mt-1.5 leading-normal">
                    1020 Wien, Austria
                  </li>
                  <li class="text-gray-700 text-md mt-1.5 leading-normal">
                    hi@webpraktikos.com
                  </li>
                  <li class="text-gray-700 text-md mt-1.5 leading-normal">
                    (+43) 0699 77 33 77 55
                  </li>
                </ul>
              </section>
            </div>
          </section>
        </div>
        <!-- end Column -->
      </div>
      <!-- end Page -->

      <!-- Page -->
      <div
        class="page print:max-w-letter md:max-w-letter md:h-letter bg-white mx-auto max-w-2xl p-6 print:mt-16 xsm:p-8 sm:p-9 md:p-16"
      >
        <!-- Column -->
        <div
          class="md:col-count-2 print:col-count-2 col-gap-md md:h-letter-col-full print:h-letter-col-full col-fill-auto"
        >
          <section class="mt-8 first:mt-0">
            <!-- To keep in the same column -->
            <div class="break-inside-avoid">
              <h2
                class="text-sm2 text-gray-550 mb-4 font-bold tracking-widest print:font-normal"
              >
                ABOUT ME
              </h2>

              <section class="mb-4.5 break-inside-avoid">
                <header>
                  <h3
                    class="text-gray-700 leading-snugish text-lg font-semibold"
                  >
                    User Interface Designer
                  </h3>
                  <p class="text-md text-gray-650 leading-normal">Since 2010</p>
                </header>
                <p class="mt-2.1 text-md text-gray-700 leading-normal">
                  Minimal and formal résumé website template for print,
                  mo&shy;bile, and desktop. The proportions are the same on the
                  screen and paper. Built with amazing <a
                    class="hover:bg-gray-150 rounded-lg transition duration-100 ease-in"
                    href="https://tailwindcss.com/">Tailwind CSS&nbsp;°</a
                  >.
                </p>
              </section>
            </div>

            <section class="mb-4.5 break-inside-avoid">
              <header>
                <h3 class="text-gray-700 leading-snugish text-lg font-semibold">
                  Front-End Developer
                </h3>
                <p class="text-md text-gray-650 leading-normal">Since 2013</p>
              </header>
              <p class="mt-2.1 text-md text-gray-700 leading-normal">
                “docs/index.html” is the main content file. By copying HTML: add
                pages, sec&shy;tions, subsection, and other parts.
              </p>
              <p class="mt-2.1 text-md text-gray-700 leading-normal">
                <span class="text-gray-600 print:text-black font-medium"
                  >Important:</span
                > Too much content on one page will break the page in the form of
                additional columns.
              </p>
              <p class="mt-2.1 text-md text-gray-700 leading-normal">
                If you want to change CSS in the classical way, add a class to
                the HTML element and write CSS inside “tailwind.css.”
              </p>
            </section>
          </section>

          <section class="mt-8 first:mt-0">
            <!-- To keep in the same column -->
            <div class="break-inside-avoid">
              <h2
                class="text-sm2 text-gray-550 mb-4 font-bold tracking-widest print:font-normal"
              >
                EXPERIENCE
              </h2>

              <section class="mb-4.5 break-inside-avoid">
                <header>
                  <h3
                    class="text-gray-700 leading-snugish text-lg font-semibold"
                  >
                    WebPraktikos Inc.
                  </h3>
                  <p class="text-md text-gray-650 leading-normal">
                    Jun 2018 – Present | Web Developer
                  </p>
                </header>
                <p class="mt-2.1 text-md text-gray-700 leading-normal">
                  Built doner pork chop &bull; Served salmon, cream soft cheese,
                  and brisket &bull; Acted 55% pork chop &bull; Filled
                  burgdoggen & frankfurter strip steak with 90% burger patties
                  and broth
                </p>
              </section>
            </div>

            <section class="mb-4.5 break-inside-avoid">
              <header>
                <h3 class="text-gray-700 leading-snugish text-lg font-semibold">
                  Mammoth GmbH
                </h3>
                <p class="text-md text-gray-650 leading-normal">
                  Feb 2017 – Apr 2018 | Android Developer
                </p>
              </header>
              <ul class="">
                <li class="mt-2.1 text-md text-gray-700 leading-normal">
                  <span
                    class="sm:-ml-3.2 absolute -ml-3 -translate-y-px transform select-none"
                    >›</span
                  >
                  Cooked shrimps for 2 to 3 minutes per side, or until opaque; then,
                  transfered to a serving dish with limon
                </li>
                <li class="mt-2.1 text-md text-gray-700 leading-normal">
                  <span
                    class="sm:-ml-3.2 absolute -ml-3 -translate-y-px transform select-none"
                    >›</span
                  >
                  Roasted a pig, turning frequently, until meat reached 160°F in
                  the thickest part of the shoulder or thigh
                </li>
              </ul>
            </section>

            <section class="mb-4.5 break-inside-avoid">
              <header>
                <h3 class="text-gray-700 leading-snugish text-lg font-semibold">
                  Exquisite Systems d.o.o.
                </h3>
                <p class="text-md text-gray-650 leading-normal">
                  May 2015 – Dec 2016 | Software QA Specialist
                </p>
              </header>
              <ul class="">
                <li class="mt-2.1 text-md text-gray-700 leading-normal">
                  <span
                    class="sm:-ml-3.2 absolute -ml-3 -translate-y-px transform select-none"
                    >›</span
                  >
                  Made stockfish, which is unsalted fish, usully cod, dried by cold
                  air and wind on wooden racks on the foreshore
                </li>
                <li class="mt-2.1 text-md text-gray-700 leading-normal">
                  <span
                    class="sm:-ml-3.2 absolute -ml-3 -translate-y-px transform select-none"
                    >›</span
                  >
                  Preserved meat without salt by removing fat, cutting it into very
                  thin strips and drying it in the sun or by a fire.
                </li>
                <li class="mt-2.1 text-md text-gray-700 leading-normal">
                  <span
                    class="sm:-ml-3.2 absolute -ml-3 -translate-y-px transform select-none"
                    >›</span
                  >
                  Testend shrimp, crab, lobster, scallops, clams, crawfish
                </li>
              </ul>
            </section>
          </section>

          <section class="mt-8 first:mt-0">
            <!-- To keep in the same column -->
            <div class="break-inside-avoid">
              <h2
                class="text-sm2 text-gray-550 mb-4 font-bold tracking-widest print:font-normal"
              >
                EDUCATION
              </h2>

              <section class="mb-4.5 break-inside-avoid">
                <header>
                  <h3
                    class="text-gray-700 leading-snugish text-lg font-semibold"
                  >
                    Graz University of Technology
                  </h3>
                  <p class="text-md text-gray-650 leading-normal">
                    2014 – 2015 | Master's Degree in Chemistry
                  </p>
                </header>
                <p class="mt-2.1 text-md text-gray-700 leading-normal">
                  Barbecued shrimp, broiled shrimp, shrimp kabobs
                </p>
              </section>
            </div>

            <section class="mb-4.5 break-inside-avoid">
              <header>
                <h3 class="text-gray-700 leading-snugish text-lg font-semibold">
                  Vienna University of Technology
                </h3>
                <p class="text-md text-gray-650 leading-normal">
                  2010 – 2013 | Bachelor’s Degree in Biology
                </p>
              </header>
            </section>

            <section class="mb-4.5 break-inside-avoid">
              <header>
                <h3 class="text-gray-700 leading-snugish text-lg font-semibold">
                  Vienna University of Technology
                </h3>
                <p class="text-md text-gray-650 leading-normal">
                  2010 – 2013| Bachelor’s Degree in Chemistry
                </p>
              </header>
            </section>
          </section>

          <section class="mt-8 first:mt-0">
            <!-- To keep in the same column -->
            <div class="break-inside-avoid">
              <h2
                class="text-sm2 text-gray-550 mb-4 font-bold tracking-widest print:font-normal"
              >
                PROJECTS
              </h2>

              <section class="mb-4.5 break-inside-avoid">
                <header>
                  <h3
                    class="text-gray-700 leading-snugish text-lg font-semibold"
                  >
                    <a
                      href="https://github.com/WebPraktikos/universal-resume"
                      class="group"
                    >
                      Universal Resume
                      <span
                        class="text-gray-550 print:text-black group-hover:text-gray-700 inline-block font-normal transition duration-100 ease-in"
                        >↗</span
                      >
                    </a>
                  </h3>
                  <p class="text-md text-gray-650 leading-normal">
                    Since 2019 | HTML CSS
                  </p>
                </header>
                <p class="mt-2.1 text-md text-gray-700 leading-normal">
                  Good design is as little design as possible. Less, but better
                  — because it concentrates on the essential aspects, and the
                  pro&shy;ducts are not burdened with non-essentials.
                </p>
              </section>
            </div>

            <section class="mb-4.5 break-inside-avoid">
              <header>
                <h3 class="text-gray-700 leading-snugish text-lg font-semibold">
                  <a
                    href="https://github.com/WebPraktikos/tailwindcss-rich-docs"
                    class="group"
                  >
                    tailwindcss-rich-docs
                    <span
                      class="text-gray-550 print:text-black group-hover:text-gray-700 inline-block font-normal transition duration-100 ease-in"
                      >↗</span
                    >
                  </a>
                </h3>
                <p class="text-md text-gray-650 leading-normal">
                  2017 | JavaScript
                </p>
              </header>
              <p class="mt-2.1 text-md text-gray-700 leading-normal">
                Good design is long-lasting. It avoids being fashionable and
                therefore never appears antiquated.
              </p>
              <p class="mt-2.1 text-md text-gray-700 leading-normal">
                Good design is honest. It does not make a product more
                innovative, powerful or valuable than it really is.
              </p>
            </section>

            <section class="mb-4.5 break-inside-avoid">
              <header>
                <h3 class="text-gray-700 leading-snugish text-lg font-semibold">
                  Third One
                </h3>
                <p class="text-md text-gray-650 leading-normal">
                  2013 – 2014 | Vue
                </p>
              </header>
              <p class="mt-2.1 text-md text-gray-700 leading-normal">
                Good design is innovative. Technological development is always
                offering new opportunities for innovative design.
              </p>
              <p class="mt-2.1 text-md text-gray-700 leading-normal">
                Good design emphasizes the usefulness of a product whilst
                disregarding anything that could possibly detract from it.
              </p>
            </section>

            <section class="mb-4.5 break-inside-avoid">
              <header>
                <h3 class="text-gray-700 leading-snugish text-lg font-semibold">
                  Fantastic Project
                </h3>
                <p class="text-md text-gray-650 leading-normal">
                  2012 | JavaScript
                </p>
              </header>
              <p class="mt-2.1 text-md text-gray-700 leading-normal">
                Products fulfilling a purpose are like tools. They are neither
                decorative objects nor works of art. Their design should
                therefore be both neutral and restrained, to leave room for the
                user’s self-expression.
              </p>
            </section>
          </section>

          <section class="mt-8 first:mt-0">
            <!-- To keep in the same column -->
            <div class="break-inside-avoid">
              <h2
                class="text-sm2 text-gray-550 mb-4 font-bold tracking-widest print:font-normal"
              >
                SKILLS
              </h2>

              <section class="mb-4.5 break-inside-avoid">
                <header>
                  <h3
                    class="text-gray-700 leading-snugish text-lg font-semibold"
                  >
                    JavaScript
                  </h3>
                  <p class="text-md text-gray-650 leading-normal">
                    Middle Level
                  </p>
                </header>
                <p class="mt-2.1 text-md text-gray-700 leading-normal">
                  Good parts: pure function, higher-order functions, factory
                  functions, composition. Bad parts: inheritance, this, new.
                </p>
                <div class="my-3.2 last:pb-1.5">
                  <ul
                    class="text-md -mr-1.6 -mb-1.6 flex flex-wrap leading-relaxed"
                  >
                    <li
                      class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-200 px-2.5 text-base"
                    >
                      ES6
                    </li>
                    <li
                      class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-200 px-2.5 text-base"
                    >
                      Vue
                    </li>
                    <li
                      class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-200 px-2.5 text-base"
                    >
                      Functional Programming
                    </li>
                    <li
                      class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-200 px-2.5 text-base"
                    >
                      Node
                    </li>
                  </ul>
                </div>
              </section>
            </div>

            <section class="mb-4.5 break-inside-avoid">
              <header>
                <h3 class="text-gray-700 leading-snugish text-lg font-semibold">
                  Other
                </h3>
              </header>
              <div class="my-3.2 last:pb-1.5">
                <ul
                  class="text-md -mr-1.6 -mb-1.6 flex flex-wrap leading-relaxed"
                >
                  <li
                    class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-200 px-2.5 text-base"
                  >
                    CSS
                  </li>
                  <li
                    class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-200 px-2.5 text-base"
                  >
                    Rust
                  </li>
                  <li
                    class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-200 px-2.5 text-base"
                  >
                    Git
                  </li>
                  <li
                    class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-200 px-2.5 text-base"
                  >
                    Go
                  </li>
                  <li
                    class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-200 px-2.5 text-base"
                  >
                    Linux Server
                  </li>
                  <li
                    class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-200 px-2.5 text-base"
                  >
                    UI Design
                  </li>
                  <li
                    class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-200 px-2.5 text-base"
                  >
                    Photoshop
                  </li>
                  <li
                    class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-200 px-2.5 text-base"
                  >
                    Illustrator
                  </li>
                  <li
                    class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-200 px-2.5 text-base"
                  >
                    Figma
                  </li>
                  <li
                    class="mr-1.6 mb-1.6 text-gray-750 print:bg-white print:border-inset bg-gray-200 px-2.5 text-base"
                  >
                    Typography
                  </li>
                </ul>
              </div>
            </section>
          </section>

          <section class="mt-8 first:mt-0">
            <!-- To keep in the same column -->
            <div class="break-inside-avoid">
              <h2
                class="text-sm2 text-gray-550 mb-4 font-bold tracking-widest print:font-normal"
              >
                CONTACT
              </h2>

              <section class="mb-4.5 break-inside-avoid">
                <ul class="list-inside pr-7">
                  <li class="text-gray-700 text-md mt-1.5 leading-normal">
                    <a href="//webpraktikos.com" class="group">
                      webpraktikos.com
                      <span
                        class="text-gray-550 print:text-black group-hover:text-gray-700 inline-block font-normal transition duration-100 ease-in"
                        >↗</span
                      >
                    </a>
                  </li>
                  <li class="text-gray-700 text-md mt-1.5 leading-normal">
                    <a href="//twitter.com/webpraktikos" class="group">
                      twitter.com/webpraktikos
                      <span
                        class="text-gray-550 print:text-black group-hover:text-gray-700 inline-block font-normal transition duration-100 ease-in"
                        >↗</span
                      >
                    </a>
                  </li>
                  <li class="text-gray-700 text-md mt-1.5 leading-normal">
                    1020 Wien, Austria
                  </li>
                  <li class="text-gray-700 text-md mt-1.5 leading-normal">
                    hi@webpraktikos.com
                  </li>
                  <li class="text-gray-700 text-md mt-1.5 leading-normal">
                    (+43) 0699 77 33 77 55
                  </li>
                </ul>
              </section>
            </div>
          </section>
        </div>
        <!-- end Column -->
      </div>
      <!-- end Page -->
    </main>
  </body>
</html>
---
